.main-dashboard-content-form-data {
    padding: 10px 20px;
    display: block;
}

.main-dashboard-content-form-data .form-label {
    font-weight: 700;
}

.main-dashboard-content-form-data .ck.ck-editor__editable_inline {
    height: 300px;
}

.main-dashboard-content-form-data .attachment-container {
    width: 100%;
    position: relative;
}

.main-dashboard-content-form-data .attachment-container .aside--container {
    width: 100%;
    margin-top: 20px;
}

.main-dashboard-content-form-data .attachment-container .preview--main--container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
}

.main-dashboard-content-form-data .attachment-container .preview--main--container div {
    width: 100px;
    height: 100px;
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 5px;
    display: grid;
    place-items: center;
    margin-left: 10px;
    margin-bottom: 20px;
}

.main-dashboard-content-form-data .attachment-container .preview--main--container div img {
    width: 100%;
}

.image-exist .aside--container {
    width: 100%;
    margin-top: 20px;
}

.image-exist .preview--main--container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
}

.image-exist .preview--main--container div {
    width: 100px;
    height: 100px;
    padding: 10px;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    display: grid;
    place-items: center;
    margin-left: 10px;
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
    z-index: 4;
}

.image-exist .preview--main--container div .deleteBtnImage {
    position: absolute;
    top: -10px;
    right: -6px;
    width: 25px;
    height: 25px;
    background-color: red;
    color: white;
    outline: none;
    border: none;
    display: grid;
    place-content: center;
    font-weight: bold;
    border-radius: 50%;
    z-index: 5;
}

.image-exist .preview--main--container div .deleteBtnImage:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;

    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% {
        transform: translateX(1px) rotate(0deg);
    }

    10% {
        transform: translateX(-1px) rotate(-1deg);
    }

    20% {
        transform: translateX(-3px) rotate(1deg);
    }

    30% {
        transform: translateX(3px) rotate(0deg);
    }

    40% {
        transform: translateX(1px) rotate(1deg);
    }

    50% {
        transform: translateX(-1px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px) rotate(0deg);
    }

    70% {
        transform: translate(3px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px) rotate(1deg);
    }

    90% {
        transform: translate(1px) rotate(0deg);
    }

    100% {
        transform: translate(1px) rotate(-1deg);
    }
}

.image-exist .preview--main--container div img {
    width: 100%;
}

.rc-slider-handle {
    border: solid 2px #69558f;
}

.main-dashboard-content-form-data .custom-btn {
    border: solid 1px #69558f;
    background-color: #69558f;
    padding: 0.475rem 1.95rem;
}