@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

.color-primary {
    color: #68548e;
}

.backgroung-primary {
    background-color: #68548e;
}

.text-right{
    text-align: right;
}

.error{
    color: red;
}

a{
    text-decoration: none;
    color: #000;
}

.btn-check:active+.btn-primary:focus, .btn-check:checked+.btn-primary:focus, .btn-primary.active:focus, .btn-primary:active:focus, .show>.btn-primary.dropdown-toggle:focus{
    box-shadow: none !important;
}

.react-confirm-alert-overlay{
    background-color:#e6e6e6 !important;
}

.styles-module_wrapper__1I_qj {
    z-index: 7 !important;
}

@media screen and (max-width: 1920px){
    .dashboard-wrapper .main-section .section-row .section-menu-col .section-menu-div .section-logo-img-container{
        display: none;
    }

    .dashboard-wrapper .main-section .section-row .section-menu-col .section-menu-div .section-logo-img-mob-container{
        display: flex;
    }

    .main-dashboard-table-data table {
        width: 1920px;
        border-spacing: 0;
        text-align: center;
    }

    /* .dashboard-wrapper .main-section .section-row .section-menu-col{
        display: none;
    } */

    .main-dashboard-content-form-data .table-responsive {
        max-width: 100%;
        overflow: hidden;
        overflow-x: scroll;
    }

    .main-dashboard-content-form-data .table-responsive .table{
        width: 1920px;
    }

    .update-container .update-chat-input-container .form-control {
        width: 88%;
    }
}

@media screen and (max-width: 991px){
    .auth-inner-container {
        width: 50%;
    }
}

@media screen and (max-width: 600px){
    .auth-inner-container {
        width: 100%;
    }

    .dashboard-wrapper header .header-row>*{
        width: 50%;
    }

    .main-dashboard-counters .main-dashboard-counters-row .main-dashboard-counters-col{
        width: 100%;
        margin-top: 15px;
    }

    .dashboard-wrapper .main-section .section-row .section-content-col {
        padding: 15px 15px;
        padding-top: 115px;
    }

    .update-container .update-chat-input-container .form-control {
        width: 78%;
    }
}
