@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

.color-primary {
    color: #68548e;
}

.backgroung-primary {
    background-color: #68548e;
}

.text-right{
    text-align: right;
}

.error{
    color: red;
}

a{
    text-decoration: none;
    color: #000;
}

.btn-check:active+.btn-primary:focus, .btn-check:checked+.btn-primary:focus, .btn-primary.active:focus, .btn-primary:active:focus, .show>.btn-primary.dropdown-toggle:focus{
    box-shadow: none !important;
}

.react-confirm-alert-overlay{
    background-color:#e6e6e6 !important;
}

.styles-module_wrapper__1I_qj {
    z-index: 7 !important;
}
